@import './grid.css';
@import './size.css';
@import './offset.css';
@import './col.css';
@import './padding.css';
@import './margin.css';
@import './order.css';
@import './flex.css';
@import './position.css';
@import './overflow.css';
@import './display.css';
@import './shadow.css';

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
