.m-0 {
    margin: 0 !important;
}

.mt-0,
.my-0 {
    margin-top: 0 !important;
}

.mr-0,
.mx-0 {
    margin-right: 0 !important;
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
    margin-left: 0 !important;
}

.m-4 {
    margin: 4px !important;
}

.mt-4,
.my-4 {
    margin-top: 4px !important;
}

.mr-4,
.mx-4 {
    margin-right: 4px !important;
}

.mb-4,
.my-4 {
    margin-bottom: 4px !important;
}

.ml-4,
.mx-4 {
    margin-left: 4px !important;
}

.m-8 {
    margin: 8px !important;
}

.mt-8,
.my-8 {
    margin-top: 8px !important;
}

.mr-8,
.mx-8 {
    margin-right: 8px !important;
}

.mb-8,
.my-8 {
    margin-bottom: 8px !important;
}

.ml-8,
.mx-8 {
    margin-left: 8px !important;
}

.m-12 {
    margin: 12px !important;
}

.mt-12,
.my-12 {
    margin-top: 12px !important;
}

.mr-12,
.mx-12 {
    margin-right: 12px !important;
}

.mb-12,
.my-12 {
    margin-bottom: 12px !important;
}

.ml-12,
.mx-12 {
    margin-left: 12px !important;
}

.m-16 {
    margin: 16px !important;
}

.mt-16,
.my-16 {
    margin-top: 16px !important;
}

.mr-16,
.mx-16 {
    margin-right: 16px !important;
}

.mb-16,
.my-16 {
    margin-bottom: 16px !important;
}

.ml-16,
.mx-16 {
    margin-left: 16px !important;
}

.m-24 {
    margin: 24px !important;
}

.mt-24,
.my-24 {
    margin-top: 24px !important;
}

.mr-24,
.mx-24 {
    margin-right: 24px !important;
}

.mb-24,
.my-24 {
    margin-bottom: 24px !important;
}

.ml-24,
.mx-24 {
    margin-left: 24px !important;
}

.m-48 {
    margin: 48px !important;
}

.mt-48,
.my-48 {
    margin-top: 48px !important;
}

.mr-48,
.mx-48 {
    margin-right: 48px !important;
}

.mb-48,
.my-48 {
    margin-bottom: 48px !important;
}

.ml-48,
.mx-48 {
    margin-left: 48px !important;
}


.m-n4 {
    margin: -4px !important;
}

.mt-n4,
.my-n4 {
    margin-top: -4px !important;
}

.mr-n4,
.mx-n4 {
    margin-right: -4px !important;
}

.mb-n4,
.my-n4 {
    margin-bottom: -4px !important;
}

.ml-n4,
.mx-n4 {
    margin-left: -4px !important;
}

.m-n8 {
    margin: -8px !important;
}

.mt-n8,
.my-n8 {
    margin-top: -8px !important;
}

.mr-n8,
.mx-n8 {
    margin-right: -8px !important;
}

.mb-n8,
.my-n8 {
    margin-bottom: -8px !important;
}

.ml-n8,
.mx-n8 {
    margin-left: -8px !important;
}

.m-n16 {
    margin: -16px !important;
}

.mt-n16,
.my-n16 {
    margin-top: -16px !important;
}

.mr-n16,
.mx-n16 {
    margin-right: -16px !important;
}

.mb-n16,
.my-n16 {
    margin-bottom: -16px !important;
}

.ml-n16,
.mx-n16 {
    margin-left: -16px !important;
}

.m-n24 {
    margin: -24px !important;
}

.mt-n24,
.my-n24 {
    margin-top: -24px !important;
}

.mr-n24,
.mx-n24 {
    margin-right: -24px !important;
}

.mb-n24,
.my-n24 {
    margin-bottom: -24px !important;
}

.ml-n24,
.mx-n24 {
    margin-left: -24px !important;
}

.m-n48 {
    margin: -48px !important;
}

.mt-n48,
.my-n48 {
    margin-top: -48px !important;
}

.mr-n48,
.mx-n48 {
    margin-right: -48px !important;
}

.mb-n48,
.my-n48 {
    margin-bottom: -48px !important;
}

.ml-n48,
.mx-n48 {
    margin-left: -48px !important;
}

.m-auto {
    margin: auto !important;
}

.mt-auto,
.my-auto {
    margin-top: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.mb-auto,
.my-auto {
    margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}
